<h1>YonezawaLesson1</h1>
<p>摂氏・華氏計算プログラム</p>

<%= form_tag('/yonezawa_lesson1') do %>
  <div>摂氏<%= text_field :title, class: "hogehoge" %>　<%= submit_tag "華氏→" %></div>
  <div>華氏<%= text_field :title, class: "hogehoge" %>　<%= submit_tag "摂氏→" %></div>
<% end %>
